# Theory Questions

Q1- What are data structures, and why are they important?
-
 - Data structures are essentially ways to arrange and store data in a computer's memory so it can be used efficiently. They define how data elements are related and what operations can be performed on them.
Reason for Importane -
 -Efficiency: Choosing the right data structure can drastically improve the speed and efficiency of algorithms and programs.
 -Organization: Data structures help to organize data in a way that is easy to understand and manipulate.
 -Scalability: They allow programs to handle large amounts of data efficiently.
 -Problem-solving: They provide a framework for solving complex problems by breaking them down into smaller, more manageable tasks.
 -Coding interviews: A strong understanding of data structures is crucial for coding interviews and technical roles.

Q2- Explain the difference between mutable and immutable data types with examples ?
-
  - Mutable Data Types  These are data types whose values can be modified after they are created. Examples: List, Dictionary, Set.
 -Immutable Data Types These are data types whose values cannot be altered once they are set. Examples: String, Tuple

Q3- What are the main differences between lists and tuples in Python ?
-
  - In Python, lists and tuples both store collections of data, but differ in mutability, performance and memory usage. Lists are mutable, allowing modifications, while tuples are immutable. Choosing between them depends on whether you need to modify the data or prioritize performance and memory efficiency.

Key Differences between List and Tuple
  - List
    - Lists are mutable(can be modified).
    -Iteration over lists is time-consuming.
    -Lists are better for performing operations, such as insertion and deletion.
    -Lists consume more memory.
  
  - Tuples
     -Tuples are immutable(cannot be modified)
     -Iterations over tuple is faster
     -Tuples are more suitable for accessing elements efficiently
     -Tuples consumes less memory

Q4-  Describe how dictionaries store data ?
-
  -Dictionaries are unordered collections of data and are represented with curly brackets { } . Like lists, dictionaries are mutable(changeable) and indexed. With dictionaries, data is stored in a key:value format. In this example, myCar is the variable that we have assigned our dictionary to.24 Jun 2024

Q5-  Why might you use a set instead of a list in Python ?
-
  -Sets and lists serve different purposes in Python, making one more suitable than the other depending on the situation. Sets are unordered collections of unique elements, while lists are ordered collections that can contain duplicates.
  One primary reason to use a set instead of a list is to ensure uniqueness. If the goal is to store a collection of items where duplicates are not allowed, a set is the appropriate choice. Attempting to add a duplicate element to a set will simply have no effect, preserving the uniqueness constraint.
  Another key advantage of sets is their efficiency in membership testing. Checking if an element exists within a set is significantly faster than doing the same in a list, especially for large collections. This is because sets are implemented using hash tables, allowing for near-constant time complexity for membership tests (O(1)), whereas lists require linear time complexity (O(n)).

Q6- What is a string in Python, and how is it different from a list ?
-
  -A string is a sequence of characters between single or double quotes. A list is a sequence of items, where each item could be anything (an integer, a float, a string, etc).

Q7- How do tuples ensure data integrity in Python ?
-
  - Tuples are immutable to ensure that their contents remain constant throughout their lifecycle, guaranteeing data integrity and reliability. This immutability allows tuples to be used as keys in dictionaries and elements in sets, as they can be hashed

Q8- What is a hash table, and how does it relate to dictionaries in Python?
-
  - A hash table is a data structure that offers an efficient way to organize data for quick access. A key is transformed into an index (a process known as hashing) of an array element where the corresponding value is stored

Q9-  Can lists contain different data types in Python ?
-
  - Yes, lists in Python 3 can contain different data types. Python lists are dynamic and flexible, allowing them to store elements of various types within the same list. These types can include integers, strings, floats, booleans, and even other lists or data structures.

Q10-  Explain why strings are immutable in Python ?

-
   -Strings are immutable in Python for several reasons:

  -Efficiency:When strings are immutable, Python can optimize memory allocation. Identical string literals can point to the same memory location, saving space.
  -Thread Safety:Immutable strings are inherently thread-safe. Multiple threads can access and use the same string without the risk of data corruption due to concurrent modification.
  -Dictionary Keys:Immutable strings can be used as keys in dictionaries. If strings were mutable, their hash values could change, making them unsuitable as dictionary keys.
  -Preventing Accidental Modification:Immutability ensures that a string's value remains constant throughout its lifetime. This prevents unintended changes that could lead to errors.
  -Method Chaining:Methods on immutable objects return new instances, enabling easy and safe method chaining.
When a string appears to be modified, Python actually creates a new string object with the changes, leaving the original string untouched. This behavior ensures the integrity and predictability of string data

Q11- What advantages do dictionaries offer over lists for certain tasks ?

-
  -So it is more efficient to use dictionaries for the searching of elements as it can be carried out in a much faster manner. Lists are used when it is important to maintain the order of the elements and dealing with data that may get changed in the future.13 Apr 2023

Q12- Describe a scenario where using a tuple would be preferable over a list?
-
  -
  Use a list if you need a mutable collection of items where you may need to add, remove, or change elements. Lists are more flexible and have more built-in methods, making them ideal for dynamic collections. Use a tuple if you need an immutable collection where the elements won't change after creation.

Q13- How do sets handle duplicate values in Python?
-
  - In python sets remove duplicates automatically!

Q14- How does the “in” keyword work differently for lists and dictionaries?
-
   -the in operation for the dictionary tests on keys. The key of the dictionary is a unique value as well as the set, and the execution time is about the same as for sets. On the other hand, dictionary values can be duplicated like a list

Q15-Can you modify the elements of a tuple? Explain why or why not?
-
   -No, you cannot directly modify the elements of a tuple in Python. Tuples are immutable, meaning their values cannot be changed after they are created. Attempting to do so will raise a TypeError.

Q16- What is a nested dictionary, and give an example of its use case ?
-
   - A nested dictionary in Python is a dictionary where one or more of the values are themselves dictionaries. This allows for representing complex, hierarchical data structures. A use case for nested dictionaries is organizing employee records, where each employee's details can be stored in a nested dictionary, and these can be grouped by department

Q17- Describe the time complexity of accessing elements in a dictionary?
-
  - Accessing an element in a dictionary typically takes O(1) (constant time) on average. This means the time it takes to retrieve a value using its key doesn't increase significantly as the dictionary size grows. However, in the worst-case scenario, where numerous collisions occur (meaning different keys map to the same hash value), the time complexity can degrade to O(n) (linear time).

Q18- D5P In what situations are lists preferred over dictionaries?
-
   - When order matters or when you need a simple collection of items.

Q19- Why are dictionaries considered unordered, and how does that affect data retrieval?
-
   - They store data based on keys, not positions.

Q20- Explain the difference between a list and a dictionary in terms of data retrieval ?
-
  - Lists retrieve items by index (list[0]), dictionaries use keys (dict["name"]).

# Practical Questions

In [1]:
#Q1 - Write a code to create a string with your name and print it?

name = "Monika"
print(name)

Monika

In [2]:
#Q2 -Write a code to find the length of the string "Hello World"?

print(len("Hello World"))

11

In [3]:
#Q3 -Write a code to slice the first 3 characters from the string "Python Programming"?
print("Python Programming"[:3])

Pyt

In [4]:
#Q4- Write a code to convert the string "hello" to uppercase?
print("hello".upper())

HELLO

In [5]:
#Q5- Write a code to replace the word "apple" with "orange" in the string "I like apple"?
print("I like apple".replace("apple", "orange"))

I like orange

In [6]:
#Q6 -Write a code to create a list with numbers 1 to 5 and print it?
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [43]:
#Q7 - Write a code to append the number 10 to the list [1, 2, 3, 4]?
numbers1= [1,2,3,4]
numbers1.append(10)
print(numbers1)

[1, 2, 3, 4, 10]

In [44]:
#Q8 - Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
numbers1.remove(3)
print(numbers1)

[1, 2, 4, 10]

In [11]:
#Q9-  Write a code to access the second element in the list ['a', 'b', 'c', 'd']?
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [12]:
#Q10- Write a code to reverse the list [10, 20, 30, 40, 50]?
reverse_list = [10, 20, 30, 40, 50][::-1]
print(reverse_list)

[50, 40, 30, 20, 10]

In [14]:
#Q11- Write a code to create a tuple with the elements 100, 200, 300 and print it ?
fruits = (100, 200, 300)
print(fruits)

(100, 200, 300)

In [15]:
#Q12- Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [16]:
#Q13- 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15) ?
numbers_tuple = (10, 20, 5, 15)
print(min(numbers_tuple))

5

In [17]:
#Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?

animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [18]:
#Q15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ('apple', 'banana', 'cherry')
print("kiwi" in fruits)

False

In [19]:
#Q16. Write a code to create a set with the elements 'a', 'b', 'c' and print it ?
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'b', 'c'}

In [20]:
#Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [21]:
#Q18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
numbers_set = {1, 2, 3, 4}
numbers_set.remove(4)
print(numbers_set)

{1, 2, 3}

In [22]:
#Q19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [23]:
#Q20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
print(set1.intersection(set2))

{3}

In [24]:
#Q21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person = {"name": "Alice", "age": 30, "city": "Paris"}
print(person)

{'name': 'Alice', 'age': 30, 'city': 'Paris'}

In [25]:
#Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person["country"] = "USA"
print(person)

{'name': 'Alice', 'age': 30, 'city': 'Paris', 'country': 'USA'}

In [26]:
#Q23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
print(person["name"])

Alice

In [27]:
#Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
del person["age"]
print(person)

{'name': 'Alice', 'city': 'Paris', 'country': 'USA'}

In [28]:
#Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
print("city" in person)

True

In [29]:
#Q26. Write a code to create a list, a tuple, and a dictionary, and print them all.
print([1, 2, 3], (4, 5, 6), {"a": 1, "b": 2})

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [30]:
#Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result (replaced)
import random
random_list = sorted(random.sample(range(1, 100), 5))
print(random_list)

[21, 48, 62, 82, 91]

In [31]:
#Q28. Write a code to create a list with strings and print the element at the third index.
strings_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(strings_list[3])

date

In [32]:
#Q29. Write a code to combine two dictionaries into one and print the result.
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [33]:
#Q30. Write a code to convert a list of strings into a set.
string_list = ["apple", "banana", "apple"]
print(set(string_list))

{'banana', 'apple'}